body {
	display: grid;
	grid-template-columns: 800px auto;
	grid-gap: 100px;
	background-color: #15141a;
	margin: 40px 40px;
}

button {
	border-width: 10px;
	margin: 0;
	object-fit: cover;
	color: #fcd20e;
	backdrop-filter: blur(2px);
	text-shadow: 2px 2px black;
}

label {
	color: white;
	display: block;
	font-family: 'Courier New', monospace;
	font-size: 18px;
}

#buttons {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
	grid-gap: 40px;
}

.play-button {
	font-size: 96px;
	padding: 100px;
}

.play-button.active, .play-button:active {
	border-color: red;
}

.fader, .numberbox {
	width: 70px;
}

.fader label {
	margin-top: 144px;
}

input[type="range"] {
	display: inline;
	transform: translate(-47px, 69px) rotate(-90deg);
}

input[type="number"] {
	font-size: 24px;
	width: 60px;
	height: 30px;
	margin-bottom: 20px;
}

input[type="checkbox"] {
	width: 34px;
	height: 34px;
	margin-bottom: 17px;
	/*transform: scale(2);*/
}

#master {
	grid-area: master;
}

#ldelaytime {
	grid-area: ldelay;
}

#rdelaytime {
	grid-area: rdelay;
}

#delayfeedback {
	grid-area: delayf;
}

#delaygain {
	grid-area: delayg;
}

#reverbgain {
	grid-area: reverb;
}

#detunerange {
	grid-area: detune;
}

#pitch {
	grid-area: pitch;
}

#chord {
	grid-area: chord;
}

#mixing {
	display: grid;
	grid-template-areas:
		"ldelay rdelay delayf delayg"
		"pitch chord . reverb"
		"detune . . master";

}